<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="miniphpy-root" content="C:\xampp\htdocs\go\Miniphpy2">
		<title>Miniphpy2</title>
		
		<link rel="icon" type="image/png" href="images/logo-icon-only.png">
		
		<?php if (DEBUG_MODE == true) : ?>
            <section id="miniphpy-css" data-miniphpy-output="css/minified.css">
                <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="css/main.css">
            </section>
		<?php else : ?>
			<link rel="stylesheet" href="css/minified.css">
		<?php endif; ?>		
	</head>

	<body>
        <?php if (DEBUG_MODE == true) : ?>
            <div class="alert alert-warning" style="margin-bottom: 0;">
                Debug Mode
            </div>
        <?php endif; ?>
        

        <div id="loading" class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
        
        <div id="loading-wrapper"></div>	        
        
		<header id="header" style="background-color: #fff;">
			<div class="container">
				<a href="./" class="miniphpy-logo">
					<img src="images/logo.svg" alt="Miniphpy" onerror="this.onerror=null; this.src='images/logo.png'">
				</a>
			</div>
		</header>
		
		<main id="main">
			<div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="header-btn btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#instructions-modal">
                            Instructions
                        </button>
                    </div>
                    
                    <div class="col-md-4">
                        <button type="button" class="header-btn btn btn-primary btn-lg btn-block" onclick="addInput()">
                            Add
                        </button>
                    </div>
                    
                    <div class="col-md-4">
						<a href="http://github.com/lgkonline/miniphpy2" target="_blank" class="header-btn btn btn-default btn-lg btn-block">
							Find Miniphpy on GitHub
						</a>
                    </div>
                </div>
                	
                <div id="bundles" class="row"></div>
			</div>
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<a href="http://twitter.com/lgkonline" target="_blank" class="btn btn-primary btn-sm btn-outline">
							Follow me on Twitter: @lgkonline
						</a>
					</div>
                    
                    <div class="col-md-4" style="text-align: center;">
                        <small class="text-muted">Version <?php echo APP_VERSION; ?></small>
                    </div>
					
					<div class="col-md-4">
						<a href="http://lgk.io" target="_blank" class="lgk-logo pull-right" title="&copy;&nbsp;2016&nbsp;LGK">
							<img src="http://lib.lgkonline.com/logo.png" alt="LGK">
						</a>
					</div>
				</div>
			</div>
		</footer>
        
        <div id="instructions-modal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Instructions</h4>
                    </div>
                    
                    <div class="modal-body">
                        <p>
                            Here on the web app you can set a file from where Miniphpy should take its information to combine and minify your CSS and JS files.
                        </p>
                        <p>
                            This instructions should help you how you can define the input files and where the minified output file should be saved at.
                        </p>
                        
                        <article>
                            <h3>Define CSS input files and output file</h3>
                            
                            <h4>Example</h4>
                            <pre>
&lt;section id="miniphpy-css" data-miniphpy-output="./css/minified-file.css"&gt;
    &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"&gt;
    &lt;link rel="stylesheet" href="./css/forms.css"&gt;
    &lt;link rel="stylesheet" href="./css/main.css"&gt;
&lt;/section&gt;</pre>
                        </article>
                        
                        <article>
                            <h3>Define JS input files and output file</h3>
                            
                            <h4>Example</h4>
                            <pre>
&lt;section id="miniphpy-js" data-miniphpy-output="./js/minified-file.js"&gt;
    &lt;script src="//code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"&gt;&lt;/script&gt;
    &lt;script src="./js/main.js"&gt;&lt;/script&gt;
&lt;/section&gt;</pre>
                        </article>
                        
                        <article>
                            <h3>Set the project root</h3>
                            
                            <h4>Example</h4>
                            <pre>&lt;meta name="miniphpy-root" content="C:\projects\my-project-folder"&gt;</pre>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/html" id="tpl-bundle">
            <div class="col-md-4">
                <div class="bundle panel panel-default" data-value="inputID">
                    <div class="panel-body">
                        <div class="bundle-error alert alert-danger hide">
                            Something went wrong with this process.
                            <div class="bundle-error-details"></div>
                        </div>
                        
                        <button type="button" class="minify-btn btn btn-primary btn-lg" data-value="inputID">
                            Minify
                        </button>
                        
                        <button type="button" class="remove-input btn btn-default btn-lg" data-value="inputID">
                            Remove
                        </button>
                        
                        <h1 class="bundle-title" data-content="title"></h1>
                        <input type="text" class="bundle-title-input form-control input-lg hide" data-value="title">
                        
                        <div class="input-group">
                            <span class="input-group-addon" style="color: #fff;">Input</span>
                            <input type="text" class="minify-input form-control" data-value="inputFile" placeholder="Enter an input file">
                        </div>
                    </div>
                </div>
            </div>
        </script>
        
		<?php if (DEBUG_MODE == true) : ?>
            <section id="miniphpy-js" data-miniphpy-output="./js/minified.js">
                <script src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
                <script src="js/jquery.loadTemplate-1.5.0.js"></script>
                <script src="js/bootstrap.js"></script>
                
                <script src="js/global.js"></script>
                <script src="js/main.js"></script>
            </section>
		<?php else : ?>
			<script src="js/minified.js"></script>
		<?php endif; ?>
	</body>
</html>